.contain{
    width: 1190px;
    margin: 0 auto;
}
.nav{
    height: 38px;
    color: #6c6c6c;
    line-height: 38px;
    font-size: 12px;
}
.nav>ul{
    float: left;
}
.nav_u1{
    margin-right: 224px;
}

.nav_u1>li{
    float: left;
    margin: 0 6px;
    cursor: pointer;
}
.nav_u1>li:nth-child(1){
    color: black;
    font-size: 13px;
    position: relative;
}

.nav_u1>li:nth-child(3):hover{
    color: red;
}
.nav_u1>li:nth-child(4):hover{
    color: red;
}

.nav-first{
    width: 268px;
    height: 210px;
    overflow-y: scroll;
    position: absolute;
    background: white;
    text-indent: 6px;
    display: none;
}

.nav-first>li{
    line-height: 40px;
    width: 100%;
    float: left;
}
.nav-first>li:hover{
    background: #999999;
}



.nav_u1>li:nth-child(2){
    color: red;
}
.nav_u2>li{
    float: left;
    margin: 0 10px;
}
.nav_u2>li>span:hover{
    color: red;
    cursor: pointer;
}
.nav_u2-my{
    position: relative;
}
.nav_u2-my>ul{
    width: 80px;
    height: 70px;
    position: absolute;
    display: none;
    background: white;
}
.nav_u2-my>ul>li:hover{
    color: orange;
    background:rgba(207, 28, 28, 0.6);
    cursor: pointer;
}

.nav_u2-collect{
    position: relative;
}
.nav_u2-collect>ul{
    position: absolute;
    width: 70px;
    height: 76px;
    background: white;
    text-indent: 2px;
    display: none;
}
.nav_u2-collect>ul>li:hover{
    color: red;
    cursor: pointer;
    background: rgba(207, 28, 28, 0.6);
}

.nav_u2-main{
    position: relative;
}
.nav_u2-main-boss{
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 38px;
    left: 315px;
    width: 1180px;
    /* height: 310px; */
    background: white;
    /* display: flex; */
    justify-content: space-between;
    border: solid 1px #999999;
    border-top: none;
    z-index: 10;
}
.nav_u2-main-boss>div{
    width: 23%;
    float: left;
    margin: 0 10px;
}

.nav_u2-main-boss>div>ul{
    display: flex;
    width: 98%;
    border-right: 1px solid #999999;
    /* justify-content: w; */
    flex-wrap:wrap;
}
.nav_u2-main-boss>div:nth-child(4)>ul{
    border-right: none;
}
.nav_u2-main-boss>div>ul>li{
    width: 25%;
    text-align: center;
    cursor: pointer;
}
/* 第一个div */
.nav_u2-main-boss>div:nth-child(1)>ul>li:hover{
    background: red;
    color: white;
}
.nav_u2-main-boss>div:nth-child(1)>h3{
    font-size: 18px;
    color: red;
    margin-left: 10px;
}
/* 第二个div */
.nav_u2-main-boss>div:nth-child(2)>ul>li:hover{
    background: green;
    color: white;
}
.nav_u2-main-boss>div:nth-child(2)>h3{
    font-size: 18px;
    color: green;
    margin-left: 10px;
}
/* 第三个div */
.nav_u2-main-boss>div:nth-child(3)>ul>li:hover{
    background: purple;
    color: white;
}
.nav_u2-main-boss>div:nth-child(3)>h3{
    font-size: 18px;
    color: purple;
    margin-left: 10px;
}
/* 第四个div */
.nav_u2-main-boss>div:nth-child(4)>ul>li:hover{
    background: blue;
    color: white;
}
.nav_u2-main-boss>div:nth-child(4)>h3{
    font-size: 18px;
    color: blue;
    margin-left: 10px;
}


/* logo部分 */
.h1{
    margin: 20px 0 20px 10px;
    font-size: 25px;
    cursor: pointer;
    width: 250px;
}
#main{
    margin-top: 10px;
}
.main-step{
    line-height: 40px;
    border-bottom: 3px solid #999999;
    overflow: hidden;
    
}
.main-step>li{
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}
.main-step>li:nth-child(1){
    margin-left: 262px;
}
.main-step>li:nth-child(1)>i{
    background: red;
    color: white;
}
.main-step>li:nth-child(1)>em{
    color: red;
}
.main-step>li>i{
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #dddddd;
    text-align: center;
    line-height: 26px;
    float: left;
    margin:6px 6px 0 0;
}
.main-step>li>em{
    float: left;
}

.main-step-bigbox-one{
    display: block;
}
.main-step-bigbox-two{
    display: none;
}
.main-step-bigbox-thr{
    display: none;
    color: green;
    font-size: 30px;
    position: relative;
    left: 300px;
    top: 116px;
}
.main-step-bigbox-fore{
    font-size: 30px;
    color: red;
    position: relative;
    left: 354px;
    top: 120px;
    display: none;
}
/* .main-step-bigbox-two{} */
.main-step-bigbox-for{
    position: relative;
}
.main-step-bigbox-con{
    width: 400px;
    height: 120px;
    /* border: 1px solid #999999; */
    position: absolute;
    top: 100px;
    left: 340px;
}
.main-step-bigbox-con>input{
    width: 300px;
    height: 30px;
    margin: 10px;
    text-indent: 10px;
}
.main-step-bigbox-con>span{
    display: block;
    position: absolute;
    /* width: 50px; */
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: red;
    border-radius: 3px;
    font-size: 13px;
    color:white;
    display: none;
}
.main-step-bigbox-span1{
    top: 15px;
    right: -107px;
}
.main-step-bigbox-span2{
    top: 71px;
    right: -107px;
}
/* 按钮 */
.main-step-bigbox-for-bnt{
    cursor: pointer;
    width: 180px;
    height: 38px;
    position: absolute;
    top: 277px;
    left: 454px;
    border: chocolate 1px solid;
    background: coral;
    border-radius: 6px;
    transition: all 1s;
}

.main-step-bigbox-two-span{
    position: relative;
    left: 48px;
    top: 18px;
    font-size: 30px;
    color: teal;
    cursor: pointer;
}



.bottom{
    position: absolute;
    top: 600px;
    left: 382px;
}
.bottom-ul{
    width: 100%;
    height: 42px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    line-height: 42px;
}
.bottom-ul>li>a{
    float: left;
    margin: 0 5px;
    color: #6c6c6c;
}
.bottom-ul>li>a:hover{
    color: red;
}
.bottom-ul>li>:nth-child(1){
    margin-left: 10px;
}
.bottom-ul>span{
    float: left;
    margin: 0 5px;
    color: #e7e0df;
}

.bottom-img{
    margin: 20px;

}





/* 等待动画 */
.blinking{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 5px;
    position: relative;
    top: 144px;
    left: -24px;
    padding: 8px;
    margin: 0 auto;
    display: none;
}
.blinking span{
    width: 20px;
    height: 8px;
    display: inline-block;
    border-radius: 20px;
    background: #fc2104;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: 1s blink infinite;
    transform-origin: left top;
}
@keyframes blink{
    0%{
        opacity: 0.4;
    }
    30%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.blinking span:first-child{
    transform:rotate(45deg) translateX(18px);
    animation-delay: 0.125s;
}
.blinking span:nth-child(2){
    transform:rotate(90deg) translateX(18px);
    animation-delay: 0.25s;
}
.blinking span:nth-child(3){
    transform:rotate(135deg) translateX(18px);
    animation-delay: 0.375s;
}
.blinking span:nth-child(4){
    transform:rotate(180deg) translateX(18px);
    animation-delay: 0.5s;
}
.blinking span:nth-child(5){
    transform:rotate(225deg) translateX(18px);
    animation-delay: 0.625s;
}
.blinking span:nth-child(6){
    transform:rotate(270deg) translateX(18px);
    animation-delay: 0.75s;
}
.blinking span:nth-child(7){
    transform:rotate(315deg) translateX(18px);
    animation-delay: 0.875s;
}
.blinking span:nth-child(8){
    transform:rotate(360deg) translateX(18px);
    animation-delay: 0s;
}